a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus {
    box-shadow: none !important;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

    .footer .contribute {
        float: left;
    }

    .footer .developed-by {
        float: right;
    }

        .footer .developed-by a {
            color: #fcbb15;
        }

.filters-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown__single + .dropdown__single {
    margin-left: 15px;
}

.dropdown__single {
    position: relative;
}

    .dropdown__single select {
        padding: 10px 35px 10px 15px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.125);
        color: #212529;
        outline: none;
        min-width: 150px;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: auto;
    }

.dropdown__arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

    .dropdown__arrow svg {
        width: 13px;
        height: 13px;
        fill: #6c757d;
        transform: rotate(180deg);
        transition: all .3s ease;
    }

.card-subtitle ul {
    margin-bottom: 0;
}

.hide {
    display: none !important;
}

.location-wrap.loading .location-loaddetails {
    pointer-events: none;
    opacity: 0.5;
}

.location-wrap .details-closed {
    display: inline-block;
}

.location-wrap.open .details-closed, .location-wrap.loading .details-closed {
    display: none;
}

.location-wrap .details-open, .location-wrap.loading .details-open {
    display: none;
}

.location-wrap.open .details-open {
    display: inline-block;
}

.location-wrap .details-loading, .location-wrap.open .details-loading {
    display: none;
}

.location-wrap.loading .details-loading {
    display: inline-block;
}

.location-wrap .location-slots {
    display: none;
}

.location-wrap.open .location-slots {
    display: block;
}

.location-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.location-head .card-text {
    width: calc(100% - 120px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 19px;
}

    .location-head .card-text .badge {
        position: relative;
        top: -1px;
    }

    .location-head .card-text span:not(.badge) {
        width: calc(100% - 70px);
        margin-left: 10px;
    }

    .location-slots__content {
        margin-top: 20px;
    }

.location-slots__title-wrap {
    padding: 12px;
    background-color: rgba(0,0,0,.03);
    border-radius: 4px;
    margin-bottom: 5px;
}

    .location-slots__content h4 {
        font-size: 15px;
        line-height: 1;
        margin: 0;
        font-weight: 600;
    }

.location-slots__content .table {
    font-size: 13px;
    border-color: #e8e8e8;
}

    .location-slots__content .table td, .location-slots__content .table th {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .location-slots__content .table td:first-child, .location-slots__content .table th:first-child {
        width: 100px;
    }

.location-slots__slots {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
}

.location-loaddetails {
    transition: all .3s ease;
}

.list-group-item.open .location-loaddetails {
    background-color: #212529;
    border-color: #212529;
}

.location-slots__slot-single {
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #dee2e6;
    transition: background-color .3s ease;
    color: #212529;
    text-decoration: none;
}

    .location-slots__slot-single:hover {
        /*background-color: rgba(0, 128, 0, .2);*/
        color: #212529;
    }

    .location-slots__slot-single:link, .location-slots__slot-single:visited {
        color: #212529;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        .filters-wrap {
        flex-wrap: wrap;
    }

    .dropdown__single {
        width: 100%;
    }

        .dropdown__single select {
            width: 100%;
            min-width: initial;
            font-size: 13px;
        }

        .dropdown__single + .dropdown__single {
            margin-left: 0;
            margin-top: 10px;
        }
}

.float-right {
    float: right;
}


.slot-times {
    width: 75px;
    border-top-width: 1px;
    border-left-width: 0;
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
